{% extends "index.html" %}

{% block content %}

<h2>Añadir Medicamento</h2>
<form action="/agregar_medicamento" method="POST">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input type="text" name="descripcion" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="precio">Precio</label>
        <input type="number" name="precio" class="form-control" step="0.01" required>
    </div>
    <button type="submit" class="btn btn-success">Añadir Medicamento</button>
</form>

<h1>Lista de Medicamentos</h1>
<ul class="list-group mb-3">
    {% for medicamento in medicamentos %}
    <li class="list-group-item">
        {{ medicamento[1] }} - {{ medicamento[2] }} - ${{ medicamento[3] }}
        <form action="/delete_medicamento/{{ medicamento[0] }}" method="POST" class="float-right ml-2">
            <button class="btn btn-danger btn-sm">Eliminar</button>
        </form>
        <a href="/edit_medicamento/{{ medicamento[0] }}" class="btn btn-info btn-sm float-right">Editar</a>
    </li>
    {% endfor %}
</ul>

<br>
<a href="/">Volver al inicio</a>

{% endblock %}
